<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/varsapp.css" />
    <link rel="stylesheet" href="static/styleapp.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="app">
    <img class="logo" src="static/img/logo.png" />
        <div class="frame-3">
            <img class="codicon-account" src="static/img/usuario.svg" />
        </div>
        <div class="ol-usu-rio">
            <span>
            <span class="ol-usu-rio-span">Olá</span>
            <span class="ol-usu-rio-span2">usuário.</span>
            </span>
        </div>
        <div class="frame-5">
            <div class="fun-es">Funções</div>
        </div>
        <div class="valvulas">
            <div class="rectangle-32"></div>
            <img class="valve-3" src="static/img/valvula.png" />
            <div class="v-lvulas">Válvulas</div>
            <img class="vector" src="static/img/seta1.svg" />
        </div>
        <div class="esta-0">
            <div class="rectangle-47"></div>
            <img class="vector2" src="static/img/seta2.svg" />
            <div class="esta-o-metereol-gica">Estação Metereológica</div>
            <img class="climatology-1" src="static/img/climatologia.png" />
        </div>
    </div>
  </body>
</html>
